[class*=container][class*=alignStretch] > [class*=wrapper], [class*=flexChild] > [class*=container], [class*=flex] > [class*=chat] {
	padding-top: 2rem;
}

[class*=privateChannels] > [class*=searchBar], [class*=container] > [class*=container] {
	margin-top: 2rem
}

[class*=wrapper] + [class*=base] {
	margin-left: 10px !important;
}

[class*=listItem] > [class*=listItemWrapper], [class*=listItem] > [class*=blobContainer],
[class*=listItem] > [class*=guildSeparator] {
	margin-left: 10px;
}

[class*=systemPad] > [class*=listItem]:last-child, [class*=systemPad] > [class*=listItem]:nth-last-child(2) > [class*=guildSeparator] {
	display: none
}

[class*=notice] {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	padding: .1rem 2rem .1rem .5rem;
	border-radius: .25rem !important;
}