body {
  background-image: url(wallpaper.jpg);
  background-size: contain;
  background-position: center center;
  background-color: #bbd8e8;
  background-repeat: no-repeat;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.files {
  flex-direction: column;
  display: flex;
  align-items: baseline;
}

.files .file-item {
  color: white !important;
  text-shadow: 0 0px 4px rgb(0, 0, 0), 0 0px 7px rgb(0, 0, 0) !important;
}
