
start-menu .panel, network-menu .panel {
  flex-grow: 2;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

start-menu .panel {
  margin-top: 33px;
}

start-menu .nav, network-menu .nav {
  flex-shrink: 0;
  padding-top: 5px;
}

start-menu .list-item, network-menu .list-item {
  text-align: left;
  padding: 5px;
  line-height: 20px;
  border: 0;
  color: black;
  font-size: 14px;
  display: block;
  white-space: nowrap;
}

start-menu .list-item img, network-menu .list-item img {
  width: 48px;
  float: left;
  margin-right: 5px;
}

start-menu .list-item name, network-menu .list-item name {
  font-size: larger;
  margin-top: 5px;
  display: inline-block;
}

start-menu .list-item description, network-menu .list-item description {
  font-size: smaller;
  white-space: normal;
  color: slategrey;
  line-height: 14px;
  display: inline-block;
  width: calc(100% - 52px);
}

start-menu hr, network-menu hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 5px -5px;
}

start-menu, network-menu, clock-menu.card {
  display: flex;
  position: absolute;
  bottom: 47px;
  left: 0;
  margin: 5px;
  flex-direction: column;
  background: #F3F3F3;
  padding: 5px;
  padding: 5px;
  height: 300px;
  width: 350px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px grey;
  z-index: 1000;
}

wifi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

wifi-overlay loader {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

start-menu .cssload-inner, network-menu .cssload-inner {
  border-color: #286090;
}

start-menu profile-name, start-menu atomos-version {
  vertical-align: bottom;
  margin: 0 5px !important;
  right: 0;
  bottom: 0;
}

start-menu profile-section {
  position: absolute;
  top: -30px;
  width: calc(100% - 10px);
}

start-menu profile-section img {
  height: 64px !important;
}

clock-menu.card {
  height: auto;
  left: auto;
  right: 0;
  padding: 0;
}
